In [1]:
import pandas as pd
import numpy as np
import pickle
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.model_selection import train_test_split

In [2]:
with open ("data/pickle_files/peace_originators_clean.pickle", "rb") as f:
    disp_mat_trade = pickle.load(f)

In [3]:
disp_mat_trade.head()

,dispnum3,ccode,stabb,styear,hostlev,orig,milex,milper,irst,pec,tpop,upop,cinc,imports,exports
0,100,2,USA,1914,4,1,253205,166,23890,556778,99111.0,23340.0,0.206364,1924.0,2420.0
1,69,2,USA,1914,4,1,253205,166,23890,556778,99111.0,23340.0,0.206364,1924.0,2420.0
2,398,2,USA,1915,2,1,257648,174,32667,580731,100546.0,24008.0,0.222083,1703.0,2820.0
3,1775,2,USA,1915,2,1,257648,174,32667,580731,100546.0,24008.0,0.222083,1703.0,2820.0
4,399,2,USA,1916,5,1,277421,179,43460,646120,101961.0,24688.0,0.232936,2424.0,5554.0

In [4]:
disp_mat_trade['hostlev'] = disp_mat_trade['hostlev'].map({1:0, 2:0, 3:0, 4:1, 5:1})

In [5]:
disp_mat_trade['hostlev'].value_counts()

1    1838
0    1776
Name: hostlev, dtype: int64

In [6]:
with open("data/pickle_files/peace_originators_2cats_clean.pickle", "wb") as f:
    pickle.dump(disp_mat_trade, f)

In [7]:
X = disp_mat_trade.drop(['dispnum3', 'ccode', 'stabb', 'styear', 'orig', 'hostlev'], axis=1)
y = disp_mat_trade['hostlev']

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [9]:
pickle_object = (X_train, X_test, y_train, y_test)
with open("data/pickle_files/peace_originators_2cats_split.pickle", "wb") as f:
    pickle.dump(pickle_object, f)